@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-dashboard {
    @apply min-h-screen bg-bg-primary h-full w-full text-text-primary flex;
  }

  .layout-container {
    @apply flex-1 space-y-8 p-24;
  }

  .accent-button {
    @apply min-w-32 bg-accent-primary h-fit flex gap-1 items-center p-4 rounded-xl;
  }

  .accent-button-sm {
    @apply w-fit bg-accent-primary h-fit flex gap-1 items-center p-4 rounded-xl;
  }

  .input {
    @apply p-3 rounded-sm;
  }

  .th {
    @apply px-4 py-3 text-left text-sm font-semibold text-gray-500;
  }

  .h2 {
    @apply text-4xl font-bold;
  }
}
