@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-dashboard {
    @apply min-h-screen bg-bg-primary h-full w-full text-text-primary flex;
  }

  .layout-container {
    @apply flex-1 space-y-8 p-24;
  }

  /* .layout-sidebar { */
  /*   @apply w-20 fixed p-4 h-full bg-bg-secondary border-bg-primary border-r-2; */
  /* } */
  /**/
  /* .layout-topbar { */
  /*   @apply h-20 flex items-center p-6 fixed left-20 bg-bg-secondary border-b border-bg-border w-full; */
  /* } */

  .h2 {
    @apply text-4xl font-bold;
  }
}
